.movies-card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.2);
}

.movies-card__title {
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-top: 14px;
  margin-left: 14px;
}

.movies-card__time {
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  line-height: 13px;
  color: #A0A0A0;
  margin-block-start: 0;
  margin-block-end: 0;
  margin: 9px auto 14px 14px;
}

.movies-card__img {
  background-size: cover;
  height: 203px;
}

.movies-card__flag {
  width: 30px;
  height: 30px;
  box-sizing: border-box;
  border-radius: 50px;
  position: absolute;
  top: 19px;
  right: 14px;
  background-image: url(../../images/flag.svg);
  background-repeat: no-repeat;
  background-position: center;
  border-width: 0;
  cursor: pointer;
  transition: linear .5s;
}

.movies-card__flag:hover {
  background-color: gray;
}

.movies-card__flag_active {
  background-color:black;
}

.movies-card__flag_disactive {
  background-color: #F9F9F9;
}

.movies-card__delete {
  background-image: url(../../images/close.svg);
  background-size: 15px;
}

@media screen and (max-width: 470px) {
  .movies-card__img {
    height: 168px;
  }
}