.navtab {
  height: 66px;
  margin-top: -66px;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navtab__menu-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navtab__link {
  font-style: normal;
  font-size: 13px;
  line-height: 16px;
  text-decoration-line: underline;
  color: white;
  margin-left: 20px;
  margin-right: 20px;
  transition: opacity .5s;
}

.navtab__link:hover {
  opacity: .8;
}

@media screen and (max-width: 570px) {
  .navtab__link {
    font-size: 11px;
    margin-left: 12px;
    margin-right: 12px;
  }
}